@model NewsWeb.Models.Category

@{
  ViewData["Title"] = "Create";
  Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
  <!-- Create -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Create Category</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label asp-for="CategoryName" class="control-label"></label>
                  <input asp-for="CategoryName" class="form-control" type="text" />
                  <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label asp-for="Parents" class="control-label"></label>
                  <select class="custom-select custom-select-sm form-control form-control-sm" asp-for="Parents" asp-items="@ViewBag.DanhMucGoc" required>
                    <option value="0" selected>Parents</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label asp-for="Ordering" class="control-label"></label>
                  <input asp-for="Ordering" class="form-control" type="number" />
                  <span asp-validation-for="Ordering" class="text-danger"></span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label asp-for="Title" class="control-label"></label>
              <input asp-for="Title" class="form-control" type="text" />
              <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label asp-for="Thumb" class="control-label"></label> <br />
                  <input name="fThumb" type="file" asp-for="Thumb" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label asp-for="Icon" class="control-label"></label> <br />
                  <input name="fIcon" type="file" asp-for="Icon" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label asp-for="Cover" class="control-label"></label> <br />
                  <input name="fCover" type="file" asp-for="Cover" />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label asp-for="Description" class="control-label"></label>
              <input asp-for="Description" class="form-control" type="text" />
              <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="MetaDesc" class="control-label"></label>
              <input asp-for="MetaDesc" class="form-control" type="text" />
              <span asp-validation-for="MetaDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="MetaKey" class="control-label"></label>
              <input asp-for="MetaKey" class="form-control" type="text" />
              <span asp-validation-for="MetaKey" class="text-danger"></span>
            </div>
            <div class="form-group">
              <input type="submit" value="Create" class="btn btn-primary" />
            </div>
          </form>
        </div>
      </div>

      <div>
        <a asp-action="Index">Back to List</a>
      </div>
    </div>
  </div>
</div>
